functional requirements:

	-add inventory
	-remove inventory
	-edit inventory fields
	-retrieve a list of inventorys
	-add item
	-remove item
	-edit item fields
	-retrieve a list of items
	-exchange items between inventorys
	-Knap Sack Problem
