functional requirements:

	-add inventory
	-remove inventory
	-edit inventory fields
	-retrieve a list of inventories
	-add item
	-remove item
	-edit item fields
	-retrieve a list of items
	-exchange items
	-knapSack problem

#
#functions group different functional requirements
#these functions specificly for the demo gui
#
functions:

	-Show inventories
		-retrieve inventories
		-edit inventory
		-remove inventory
		-add inventory
		-knapSack problem
	-Show items
		-retrieve items
		-edit item
		-remove item
		-add item
		-move item
